@inject Prise.Example.Web.Services.IDataService dataService

@{
    ViewData["Title"] = "Home Page";
    var data = await this.dataService.GetDataFromAllIPlugins();  
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
    @foreach(var item in data)
    {
        <tr>
            <td>
                @(item.Text)
            </td>
        </tr>
    }
    </table>
</div>
