name: Prise integration tests .net core 3

on: [push]

jobs:
  run-integration-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        
      - name: Setup .NET Core 3.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.0.100

        # Publishes all plugins to publish directory
      - run: dotnet publish src/Tests/IntegrationTestsPlugins/PluginA/PluginA.csproj -o publish/PluginA
      - run: dotnet publish src/Tests/IntegrationTestsPlugins/PluginB/PluginB.csproj -o publish/PluginB
      - run: dotnet publish src/Tests/IntegrationTestsPlugins/PluginC/PluginC.csproj -o publish/PluginC
      - run: dotnet publish src/Tests/IntegrationTestsPlugins/PluginD/PluginD.csproj -o publish/PluginD -f netcoreapp3.0

      # Copies all published plugins to integration test directory
      - run: mkdir -p src/Tests/Prise.IntegrationTests/bin/Debug/netcoreapp3.0/Plugins
      - run: cp -r publish/PluginA src/Tests/Prise.IntegrationTests/bin/Debug/netcoreapp3.0/Plugins
      - run: cp -r publish/PluginB src/Tests/Prise.IntegrationTests/bin/Debug/netcoreapp3.0/Plugins
      - run: cp -r publish/PluginC src/Tests/Prise.IntegrationTests/bin/Debug/netcoreapp3.0/Plugins
      - run: cp -r publish/PluginD src/Tests/Prise.IntegrationTests/bin/Debug/netcoreapp3.0/Plugins

      - name: Test Prise.IntegrationTests with netcoreapp3.0
        run: dotnet test src/Tests/Prise.IntegrationTests/Prise.IntegrationTests.csproj